.modal{
  width: 250px;
  height: 250px;
}

.file{
  position: absolute;
  opacity: 0;
  padding: 0;
  height: 250px;
  width: 250px;
  top: 0;
  z-index: 2;
  cursor: pointer;
}

.btn{
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  border: dashed 1px #888888;
  border-radius: 0;
  background-color: #FFF;
  color: #6CC6F0;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}

.localimg{
  text-align: center;
  vertical-align: middle;
}

.localimg::before{
  content: 'CLICK TO UPDATE PHOTO';
  box-sizing: border-box;
  padding: 8rem 2.5rem 0;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  z-index: 1;
  white-space: pre-wrap;
}

.photo{
  vertical-align: middle;
  max-width: 250px;
  max-height: 250px;
}

.icon{
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
}